<div class ='well'>
  <div class = 'control-group'> 
    <%= form_tag '/loggedin' do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <br/>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <br/>

      <%= submit_tag "login", class: 'btn btn-primary' %>
     
    <%end%>
    <%= link_to "Forgot Password", forgot_password_path %>
  </div></div>

  <div class ="section register container">
    
        To log in <br/>
        email: admin@admin.com 
        <br/>
        password:admin
  </div>

   
