%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX"
  -if logged_in?
    %ul.col-md-5.clearfix
      %li= link_to "Videos", root_path
      %li= link_to "My Queue", my_queue_path
      %li= link_to "People", people_path, id:"people" 
      %li= link_to "My profile", user_path(current_user.id)
      -if current_user.admin?
        %li= link_to "Add Video", new_admin_video_path
  -if logged_in?
    %form.col-md-5.navbar-form(action="/videos/search")
      .form-group
        %input.form-control(name="search_term" type="text" placeholder="Search for videos here")
      %button.btn.btn-default(type="submit") Search
  #user_links.pull-right
    -if logged_in?
      %ul
        = link_to "Sign out", signout_path, method: :delete, id:"sign-out" 
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            name 
            =current_user.full_name
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li#account-inf0
              %a(href="#") Account
              %a(href="#") Plan and Billing

              
